*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "topo";
    src: url(../fontes/PassionOne-Regular.otf);
} 
@font-face {
    font-family: "verso";
    src: url(../fontes/Sriracha-Regular.ttf);
} 
html,body{
    height: 100vh;
    background-color: rgb(249, 239, 227);
} 
.topo{   
    flex-direction: column;
    h1{
        margin: 0px;
        font-variant: small-caps;
        padding-top: 50px;
        font-family: 'topo';
        font-size: clamp(30px,9vw,72px); 
    }
    p{
        padding: 10px 0px 40px 0px;
        font-size: clamp(12px,3vw,24px); 
    }
}
.topo,.rodape{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center; // texto no rodapé não quer obdecer ao text-align
    text-align: center;
    h1,p{
        color: white;
    }
    a{
        color: rgba(255, 255, 255, 0.558);
        font-weight:100;
        text-decoration: none;
    }
    a:hover{
        text-decoration:underline ;
    }
}
.corpo{
    margin: auto;
    max-width: 1000px;
    font-family:'verso' ;
    font-size: 1.5vw;
    section{
        width: 100%;
        padding-top: 8vh;
        padding-bottom: 8vh;
        line-height: 2em;
        font-size: clamp(20px,4vw,30px);  
        padding-left: 2%;
        box-sizing: border-box;
        p{
           padding-left: 20px; 
        }
    }
    section.normal{
        background-color: white;
        color: black;
        p{
            padding-bottom: 2em;
         }
    }
    section.imagem{
        background-color: rgb(55, 55, 55);
        color: white;
        background-size: cover;
        background-position: right center;
        box-shadow:inset (6px 6px 13px rgba(0, 0, 0, 0.5));
        background-attachment: fixed;
        p{
            display: inline-block;
           background-color: rgba(0, 0, 0, 0.40);
           padding-right: 30px;
           text-shadow: 1px 1px 0px black;
        }
    }
    section.imagem#img01{
        background-image: url(../imagens/background001.jpg);
    }
    section.imagem#img02{
        background-image: url(../imagens/background002.jpg);
    }
}
.rodape{
    p{
        padding: 10px 0px 20px 0px;
    }
}
